/****** GENERAL ******/

h1, h2, h3, p {
	font-family: 'Tahoma', "Verdana", sans-serif;
	color: black;
}

p {
	font-size: medium;
	padding-top: 5px; 
	padding-bottom: 5px; 
}

h1 {
	font-size:xx-large;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 30px;
	margin-top: 0px;
}

.container {
	padding-top: 70px;
	padding-bottom: 70px;
}

.green-gradient {
  background-image:
    linear-gradient(
      #479bb6, blue
    );
}

.white-gradient {
 background-image:
    linear-gradient(
      white, #e0e0e0
    );
}

.dark-gradient {
  background-image:
    linear-gradient(
      #2e2e2e, grey
    );
}


/******** HOME ********/
#home {
  	height: 100%;
  	text-align: left;
}

#home
.name {
	border: 1px solid white;
	padding: 50px 10px 10px 100px;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/* Firefox 16+, IE 10+, Opera */
	transform: translateX(-50%) translateY(-50%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-webkit-transform: translateX(-50%) translateY(-50%);
	/* IE 9 */
	-ms-transform: translateX(-50%) translateY(-50%);
}

#home
h1 {
	font-size: 4rem;
	color: #479bb6;
	font-weight: 500;
	letter-spacing: 20px;
}

#home
h3 {
	font-family: 'Tahoma', 'Verdana', sans-serif;
	font-size: large;
	color: rgb(218, 218, 218);
	letter-spacing: 3px;
	padding-top: 30px;
}

#home
.home-content {
	height: 100vh;
	width: 100%;
	/*background-image: url("../images/hike-a-bike.jpg");*/
	/*background-size: cover;*/
	/* background-color: rgba(46,46,46,1); */
	background-image:
    linear-gradient(
      #1e1e1e, #535353
    );
	/*background-blend-mode: darken;*/
	background-position: 50% 50%;
	position: relative;
}

#home
.see-more-icon {
	position: absolute;
	top: 92%;
	right: 50%;
	z-index: 105;
	transform: translateX(50%);
	/* Firefox 16+, IE 10+, Opera */
	transform: translateX(50%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-webkit-transform: translateX(50%);
	/* IE 9 */
	-ms-transform: translateX(50%);
}

#home
.social-icon {
	height: 32px;
	float: right;
	padding-left: 3px;
}

#home
.social-icon:hover{
	transform: scale(1.05);
}

#home path {
	fill: #479bb6;
}



/****** ABOUT ME ******/
#about {
	/* background-color: #ddd; */
}
#about h1 {
	color: #479bb6;
}




/****** PROJECTS ******/
#projects {
	background-color: #2e2e2e;
}

#projects h1 {
	color: #479bb6;
}

#projects h2 {
	color: #B2B2B2;
}

#projects h3 {
	color: #fff;
	font-weight: lighter;
	letter-spacing: 2px;
}

#projects p {
	color: #B2B2B2;
	letter-spacing: 2px;
}

#projects
.tile-row {
	text-align: left;
}

#projects
.tile {
	text-align: center;
	background-color: #479bb6;

	width: auto;
	position:relative;
    overflow:hidden;
    padding-bottom:100%;
    margin-top: 20px;
    margin-bottom: 0px;
}

#projects
.tile:hover img {
	transform: scale(1.05);
}

#projects
.tile img {
	position:absolute;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}




#project-modals 
.modal-content {
	background-color: rgba(46,46,46,1);
}

#project-modals 
.modal-header {
	border-color: #555;
}

#project-modals
.modal-body {
	padding: 0px;
}

#project-modals
.modal-body img {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}

#project-modals
.modal-body .small-img {
	height: 400px;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
}

#project-modals
.modal-body .center {
	text-align: center;
}

#project-modals h4 {
	color: #B2B2B2;
}

#project-modals p {
	color: #cfcfcf;
	font-size: small;
	padding-left: 20px;
	padding-right: 20px;
}

#project-modals 
.tags {
	padding-top: 10px;
}

#project-modals 
.tags span {
	background-color: green;
	border-radius: 3px;
	padding: 2px;
}




/****** CONTACT ******/
#contact {
	padding-bottom: 0px;
}

#contact h1 {
	color: #479bb6;
}

#contact h3 {
	color: #fff;
	font-weight: lighter;
	letter-spacing: 2px;
}

#contact p {
	color: #000;
	font-weight: lighter;
	letter-spacing: 2px;
}

#contact img {
	border-radius: 10px 10px 0px 0px;
	box-shadow: 5px 5px 3px #333;
	border: 1px solid #bbb;
}

#contact .container {
	padding-bottom: 0px;
}




/****** RESUME ******/
#resume {
	/*background-color: #2e2e2e;*/
	background-color: #524699;
	padding-bottom: 0px;
}

#resume h1 {
	color: #ddd;
}

#resume h2 {
	color: #B2B2B2;
}

#resume h3 {
	color: #fff;
	font-weight: lighter;
	letter-spacing: 2px;
}

#resume img {
	border-radius: 3px;
	box-shadow: 5px 5px 3px #333;
	border: 5px solid #333;
}

#resume .container {
	padding-bottom: 0px;
}



/****** FOOTER ******/
#footer {
  background-color: rgba(46,46,46,1);
}

#footer
.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer
.made-in-canada p {
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	margin: auto;
}

#footer
.made-in-canada svg {
	display: inline-block;
	vertical-align: middle;
}
