/****** GENERAL ******/

h1, h2, h3, p {
	font-family: 'Helvetica Neue';
	color: #2e2e2e;
}

p {
	font-size: 2rem;
	font-weight: lighter;
	/*color: #787878;*/
	color: #000;
	letter-spacing: 1px;
	padding-top: 5px; 
	padding-bottom: 5px; 
}

h1 {
	font-size: 4rem;
	font-weight: 700;
	padding-top: 0px;
	padding-bottom: 30px;
	margin-top: 0px;
}

.container {
	padding-top: 70px;
	padding-bottom: 70px;
}

.green-gradient {
  background-image:
    linear-gradient(
      #22CA3E, green
    );
}

.white-gradient {
/*  background-image:
    linear-gradient(
      #D2D2D2, white
    );*/
   background-color: #D2D2D2;
   background-color: white;
}

.dark-gradient {
  background-image:
    linear-gradient(
      #2e2e2e, grey
    );
}


/******** HOME ********/
#home {
  	height: 100%;
  	text-align: center;
}

#home
.name {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/* Firefox 16+, IE 10+, Opera */
	transform: translateX(-50%) translateY(-50%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-webkit-transform: translateX(-50%) translateY(-50%);
	/* IE 9 */
	-ms-transform: translateX(-50%) translateY(-50%);
}

#home
h1 {
	font-size: 6rem;
	color: #22CA3E;
	font-weight: 700;
	letter-spacing: 20px;
}

#home
h3 {
	font-family: 'Tahoma';
	font-size: 2.5rem;
	color: #B2B2B2;
	font-weight: 100;
	letter-spacing: 5px;
	padding-top: 70px;
}

#home
.home-content {
	height: 100vh;
	width: 100%;
	/*background-image: url("../images/hike-a-bike.jpg");*/
	/*background-size: cover;*/
	background-color: rgba(46,46,46,1);
	/*background-blend-mode: darken;*/
	background-position: 50% 50%;
	position: relative;
}

#home
.see-more-icon {
	position: absolute;
	top: 92%;
	right: 50%;
	z-index: 105;
}

#home path {
	fill: #22CA3E;
}



/****** ABOUT ME ******/
#about {
	background-color: #ddd;
}
#about h1 {
	color: #22CA3E;
}

#about p {
	color: black;
}




/****** PROJECTS ******/
#projects {
	background-color: #2e2e2e;
}

#projects h1 {
	color: #22CA3E;
}

#projects h2 {
	color: #B2B2B2;
}

#projects h3 {
	color: #fff;
	font-weight: lighter;
	letter-spacing: 2px;
}

/*#projects p {
	color: #B2B2B2;
}*/

#projects
.tile-row {
	text-align: center;
}

#projects
.tile {
	text-align: center;
	background-color: #2e2e2e;

	width: auto;
	position:relative;
    overflow:hidden;
    padding-bottom:100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#projects
.tile:hover img {
	transform: scale(1.05);
}

#projects
.tile img {
	position:absolute;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}




#project-modals 
.modal-content {
	background-color: rgba(46,46,46,1);
}

#project-modals 
.modal-header {
	border-color: #555;
}

#project-modals
.modal-body {
	padding: 0px;
}

#project-modals
.modal-body img {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}

#project-modals h4, p {
	color: #B2B2B2;
}

#project-modals p {
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 0.25px;
}

#project-modals 
.tags {
	padding-top: 10px;
}

#project-modals 
.tags span {
	background-color: green;
	border-radius: 3px;
	padding: 2px;
}




/****** CONTACT ******/
#contact {
	background-color: #ddd;
	/*background-color: #B2B2B2;*/
	/*background-color: #22CA3E;*/
}

#contact h1 {
	color: #524699;
	/*color: #22CA3E;*/
}

#contact h2 {
	/*color: #B2B2B2;*/
}

#contact h3 {
	color: #fff;
	font-weight: lighter;
	letter-spacing: 2px;
}

#contact p {
	color: #000;
	font-weight: lighter;
	letter-spacing: 2px;
}




/****** RESUME ******/
#resume {
	/*background-color: #2e2e2e;*/
	background-color: #524699;
	padding-bottom: 0px;
}

#resume h1 {
	color: #22CA3E;
}

#resume h2 {
	color: #B2B2B2;
}

#resume h3 {
	color: #fff;
	font-weight: lighter;
	letter-spacing: 2px;
}

#resume img {
	border-radius: 3px;
	box-shadow: 5px 5px 3px #333;
}

#resume .container {
	padding-bottom: 0px;
}



/****** FOOTER ******/
#footer {
  background-color: rgba(46,46,46,1);
}

#footer
.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer
.made-in-canada p {
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	margin: auto;
}

#footer
.made-in-canada svg {
	display: inline-block;
	vertical-align: middle;
}
