/* lg */ 
@media (min-width: 1200px) {
  
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

}

/* xs */
@media (max-width: 767px) {
    #home
    .name {
	    border: none;
        padding: 50px 10px 10px 50px;
    }
    #home
    .home-content {
	    border: 1px solid white;
    }

    #home
    h1 {
        letter-spacing: 10px;
    }

    #home
    .social-icon {
	    float: none;
    }
}

/* XS Portrait */
@media (max-width: 479px) {

}

